h1{
    color:aqua;
    background-color:black;
    font-align: left;
    font-style: oblique;
    
}

.purple {
background-color: Purple;
color: whitesmoke;
text-align:center;
font-style: oblique;

}

.cyan {
background-color: teal;
text-align: right;
color: salmon;
font-style: oblique;
text-decoration: underline;


}